-- Create the orders table for managing client orders and freelancer services
CREATE TABLE IF NOT EXISTS orders (
    Id INT AUTO_INCREMENT PRIMARY KEY,
    User_Id INT NOT NULL,
    Freelancer_Id INT NOT NULL,
    Gig_Id INT NOT NULL,
    Package_Id INT,
    Status ENUM('pending', 'approved', 'in_progress', 'completed', 'rejected') DEFAULT 'pending',
    Created_At TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    Updated_At TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (User_Id) REFERENCES user(id),
    FOREIGN KEY (Freelancer_Id) REFERENCES freelancers(Id),
    FOREIGN KEY (Gig_Id) REFERENCES gigs(Id),
    FOREIGN KEY (Package_Id) REFERENCES packages(ID)
);

-- Add an index for faster querying by user and freelancer
CREATE INDEX idx_orders_user ON orders(User_Id);
CREATE INDEX idx_orders_freelancer ON orders(Freelancer_Id);
CREATE INDEX idx_orders_gig ON orders(Gig_Id);

-- Sample data for testing (optional)
-- INSERT INTO orders (User_Id, Freelancer_Id, Gig_Id, Package_Id, Status)
-- VALUES (1, 2, 1, 1, 'pending');
